.modal-wrapper-btn {
  margin-top: 20px;
  margin-left: 26px;
  display: flex;
}

@media screen and (max-width: 767px) {
  .modal-wrapper-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal-btn {
  box-sizing: border-box;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.33;
  text-align: center;
  color: #fff;
  width: 120px;
  height: 44px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal-btn {
    width: 125px;
  }
}

@media screen and (min-width: 1024px) {
  .modal-btn {
    width: 136px;
    font-size: 12px;
  }
}

.modal-btn-watched {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  margin-right: 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-watched:hover,
.modal-btn-watched:focus {
  color: #fff;
  background-color: #FF6B01;
  border: none;
}

.modal-btn-queue {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-queue:hover,
.modal-btn-queue:focus {
  color: #fff;
  background-color: #FF6B01;
  border: none;
}

.modal-btn-remove {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #FF6B01;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-remove:hover,
.modal-btn-remove:focus {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

.modal-btn-remove-watched {
  margin-right: 15px;
}