
.header-section {
    padding-top: 54px;
  }
  // form


  html {
    overflow-y: scroll;
  }
  
  // endless bg color
  .endless-bg-color {
    background-image: url(/src/images/header-bg-main-desktop.jpg);
  }
  
  // logo
  .logo {
    position: absolute;
    top: 46px;
  
    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: baseline;
    }
  
    text-decoration: none;
  
    color: #ffffff;
  
    cursor: pointer;
  }
  
  .logo__icon {
    @media screen and (min-width: $tablet) {
      margin-right: 10px;
    }
  }
  
  .logo__name {
    @media screen and (max-width: ($tablet - 1)) {
      display: none;
    }
  
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;
  
    color: #ffffff;
  }
  
  // side-nav
  
  .side-nav {
    display: flex;
    justify-content: flex-end;
  
    margin-bottom: 54px;
  
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;
  
    color: #ffffff;
  }
  
  .side-nav__item {
    &:first-child {
      margin-right: 39px;
    }
  }
  
  .side-nav__link {
    text-decoration: none;
  
    color: inherit;
  }
  
  .side-nav__link--current-page {
    position: relative;
  
    &::after {
      content: '';
  
      position: absolute;
      bottom: -3px;
      left: 0;
  
      height: 3px;
      width: 100%;
  
      background-color: #FF001B;
    }
  }
// bg

.header-bg {
    margin-left: auto;
    margin-right: auto;
  
    max-width: $mobile;
    min-height: 216px;
    background-image: url(/src/images/header-bg-main-mobile.jpg);
   
  
   background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  
    @media screen and (max-width: ($tablet - 1)) and (min-device-pixel-ratio: 2),
      screen and (max-width: ($tablet - 1)) and (min-resolution: 192dpi),
      screen and (max-width: ($tablet - 1)) and (min-resolution: 2dppx) {
      background-image:  url(/src/images/header-bg-main-mobile@2x.jpg);
    }
  
    @media screen and (min-width: $tablet) {
      max-width: $tablet;
  
      background-image: url(/src/images/header-bg-main-tablet.jpg);
  
      @media screen and (max-width: ($desktop - 1)) and (min-device-pixel-ratio: 2),
        screen and (max-width: ($desktop - 1)) and (min-resolution: 192dpi),
        screen and (max-width: ($desktop - 1)) and (min-resolution: 2dppx) {
        background-image: url(/src/images/header-bg-main-tablet@2x.jpg);
      }
    }
  
    @media screen and (min-width: $desktop) {
      max-width: $desktop;
      background-image: url(/src/images/header-bg-main-desktop.jpg);
  
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(/src/images/header-bg-main-desktop@2x.jpg);
      }
    }
  }
// form

.search-form {
  position: relative;

  text-align: center;
}

.search-field {
  width: 100%;

  font-size: 14px;
  line-height: 1.14;

  @media screen and (min-width: $tablet) {
    width: 336px;
  }

  background-color: transparent;
  border: transparent;
  font-family: $mainFont;
  border: none;
  border-bottom: 0.5px solid #FFFFFF;
  


  @include transition(border-bottom);

  &::placeholder {
    color: #ffffff;

    @include transition(color);
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid $accentColor;

    &::placeholder {
      color: $accentColor;
    }
  }
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;

  @media screen and (min-width: $tablet) {
    right: 142px;
  }

  @media screen and (min-width: $desktop) {
    right: 403px;
  }

  padding: 0;

  background-color: transparent;
  border: transparent;

  color: $white;

  @include transition(color);

  .search-field:focus ~ & {
    color: $accentColor;
  }
}
  
  // warning
  
  .header-warning {
    position: absolute;
    top: 155px;
  
    font-size: 14px;
    line-height: 1.14;
  
    @media screen and (max-width: ($tablet - 1)) {
      max-width: ($mobile - 40);
    }
  
    @media screen and (min-width: $tablet) {
      width: ($tablet - 152);
      text-align: center;
    }
  
    @media screen and (min-width: $desktop) {
      width: ($desktop - 142);
      text-align: center;
    }
  
    color: #ff001b;
  }
